@charset "UTF-8"
// libraries
@import "nib"

/*
 reset
*/
global-reset()
reset-html5()

/*
 styles for demo
*/
.container
  padding: 20px
  color: #333
  line-height: 1.5

.textbox
  max-width: 280px
  margin: 0 0 20px
  border: 1px solid #ccc
  background-color: #f1f1f1

.inner
  display: inline-block

#truncate
  font-size: 24px
  color: #f33

